.bannerContainer{
    position: relative;
}
.bannerText{
    position: absolute;
    top		: 150px;
    left		: 284px;
}
.burger{
    position: absolute;
    bottom: -350px;
    left: 700px;
}
.h1{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    letter-spacing: 0px;
    color: #2A2A2A;
    opacity: 1;
    padding-bottom: 20px;
}
.p{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0px;
    color: #2A2A2A;
    padding-bottom: 20px;
}
.discoverButton{
    background: #F6E224 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    border: none;
    height: 40px;
}
.buttonText{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0px;
    color: #2A2A2A;
    padding: 20px;
}